<div class="relative">
  <script src="forgot-password-form.component.ts"></script>
  <section class="w-10/12 mx-auto">
    <form class="my-5" action="" (submit)="verify()">
      <label class="text-sm font-normal text-gray-500">Email Address</label>
      <input class="text-sm py-2 px-5 my- mb-4 border w-full mx-auto flex items-center rounded-md placeholder:text-xs placeholder:font-light active:border-red-600" type="email" placeholder="example@mail.com" required>
      <button class="w-full py-2 px-5 bg-secondary text-gray-50 text-sm rounded  hover:bg-tertiary ease-out duration-500 transition-delay-100">Send Password Link</button>
    </form>
  </section>

</div>
