<script src="../signup-form/signup-form.component.ts"></script>
<div class="absolute w-full h-screen right-0 bottom-0 border backdrop-blur-sm flex items-center justify-between">
  <div class="grid gap-3 mx-auto" >
    <div class="flex items-center justify-center">
      <svg class="animate-spin border-indigo-300"
           xmlns="http://www.w3.org/2000/svg" width="96" height="96"
           viewBox="0 0 56 56" fill="none">
        <circle cx="28" cy="28" r="26" stroke="#6A1039"
                stroke-width="4" stroke-dasharray="2 3 2 2 20" />
      </svg>
    </div>
  </div>
</div>
