<section class="w-10/12 mx-auto">
  <form action="">
    <label class="text-sm font-normal text-gray-500">Email Address</label>
    <input class="text-sm py-2 px-5 my- mb-4 border w-full mx-auto flex items-center rounded-md placeholder:text-xs placeholder:font-light active:border-red-600" type="email" placeholder="example@mail.com" required>
    <label class="text-sm font-normal text-gray-500">Password</label>
    <input class="py-2 px-5 my-1 border w-full mx-auto flex items-center rounded-md  placeholder:text-xs placeholder:font-light" type="password" placeholder="Password" required>
    <a routerLink="/forgot-password" class="text-sm text-secondary">Forgot password?</a>
  <button class="w-full py-2 px-5 bg-secondary text-gray-50 text-sm rounded my-14 hover:bg-tertiary ease-out duration-500 transition-delay-100">Login</button>
  </form>
</section>
